<!-- <section>
  <form class="well input-prepend form-search">
    <h3>What Do You Need?</h3>
    <br />
    <p>
      <span class="add-on"><i class="icon-search"></i></span>
      <input class="span11" type="text" class="input-long search-query" placeholder="keywords, tags, technologies or anything you can think of..">
    </p>
  </form>
</section> -->