
<div class="well sidebar-nav" id="markdown_cheat_sheet">
  <div class="nav-list">
    <h3>Markdown Cheat Sheet</h3>
    <hr />
    <p>
      This page uses markdown to style. 
      <%= link_to "Cheatsheet here, ", "http://support.mashery.com/docs/customizing_your_portal/Markdown_Cheat_Sheet" %>
      and below are some common ones to remember.
    </p>

    <hr />
    <h6>Heads</h6>
    
    <%= content_tag :pre, "# Header 1 #\n## Header 2 ##\n### Header 3 ###" %>
    
    <h6>lists:</h6>
    <%= content_tag :pre, "* Item 1\n* Item 2\n* Item 3" %>

    <h6>text styling</h6>
    <%= content_tag :pre, "*italic text*\n**bold text**\n***bold and italic text***" %>
    
    <h6>Links and Images</h6>
    <%= content_tag :pre, 'Here is a Markdown link to [Warped](http://warpedvisions.org)
![picture alt](/images/photo.jpeg "Title is optional")' %>
    <h6>Lists</h6>
    <%= content_tag :pre, "* bullet list 1\n* bullet list 2\n* bullet list 3\n\n1. numbered list 1\n2. numbered list 2\n3. numbered list 3" %>
  </div>
</div>