/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require prettify
 *= require jquery-ui-1.8.16.custom.css
*/



section{
  margin-bottom: 60px;
}


.fb_button img{
  display: block;
  margin-top: 7px;
}

.modal{
  display: none;
}


.repository-preview, .link-preview{
  word-wrap: break-word;
}

.snippet-preview{
  margin-bottom: 20px;
}


.profile_image{
  width: 32px;
  height: 32px;
  display: block;
  float: right;
  margin-left: 16px;
  margin-top: 4px;
  box-shadow: 0px 0px 2px #000;
  border-radius: 2px;
}


#sidebar{
  .progress{
    height: 24px;
    background: #cbdee6;
    margin-bottom: 12px;
    .bar{
      height: 24px;
      box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
    }
    span{
      float: left;
      font-size:12px;
      color: #fff;
      line-height: 24px;
      padding-left: 10px;
      font-weight: bold;
      text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
    }
  }
}


.repository-preview, .link-preview, .page-preview{
  position: relative;
  margin-bottom: 25px;
  .description{
    color: #666;
  }
  .tags{
  }
  
  .actions{
    padding: 10px 10px 0px 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-top: 1px dashed #ddd;
  }

  .repository_title{
    padding-left: 42px;
    background: url("/assets/github.png") no-repeat 0px 1px;
  }

  .link_title{
    padding-left: 42px;
    background: url("/assets/feed.png") no-repeat 0px 1px;
  }
  
  .overlay{
    &.shown{
      z-index: 10;
      opacity: 1;
    }
    background: #ffffff;
//    min-height: 180px;
    z-index: 10;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    box-shadow: 0px 1px 10px #888;
//    border-radius: 4px;
    padding: 10px;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
  }
}


pre.prettyprint{
  max-height: 160px;
}


.snippet-preview{
  .actions{
    float: right;
  }
}


.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
  
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.25), 0 0 30px rgba(255,255,255,.425);
}

#new-knowledge{
  display: block;
  width: auto;
}



#page_body{
  h1,h2,h3,h4,h5,h6,p,ul{
    margin-bottom: 15px;
  }
  p, li{
    font-size: 14px;
    line-height: 20px;
  }
  img{
    display: block;
    padding: 10px;
    box-shadow: 0px 1px 3px #444;
  }
  blockquote p{
    font-size: 16px;
  }
}

#markdown_cheat_sheet{
  pre{
    border: 0px !important;
  }
  
}