<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Knowledge Base</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag    "/bootstrap/css/bootstrap.css", :media => "all" %>
    <%= stylesheet_link_tag    "/bootstrap/css/bootstrap-responsive.css", :media => "all" %>
    <%#= stylesheet_link_tag    "/bootstrap/css/prettify.css", :media => "all" %>
    <%= stylesheet_link_tag    "application", :media => "all" %>

    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "/bootstrap/js/bootstrap.js" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" href="iphone/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="iphone/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="iphone/apple-touch-icon-114x114.png">
  </head>

  <body>
    <div id="fb-root"></div>
    
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FACEBOOK_KEY %>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Knowledge Base</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
            </ul>
            <p class="navbar-text pull-right">
            <%= render "sessions/user" %>
            </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3" id="sidebar">
          <%= yield :sidebar %>
        </div>
        <div class="span9">
          <% if flash[:error] %>
            <div class="alert alert-error">
              <% flash[:error].each do |attr, msg| %>
                <span><%= attr.capitalize %>  <%= msg %></span><br />
              <% end %>
            </div>
          <% end %>
            <div class="alert-message alert-info alert">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              <p>
                <b>Welcome!</b><br />
                Hey boys and girls, Knowledge Bob is in 0-testing stage. Please Contribute!
              </p>
              <p>
                <%= link_to "Clone on BitBucket", "https://bitbucket.org/xinming/knowledge_base/", :class=> "btn btn-primary"%>
                <%= link_to "Bugs or Feature Request", "https://bitbucket.org/xinming/knowledge_base/issues", :class=> "btn btn"%>
              </p>
  
            </div>
          
          <%= yield %>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; DGM59/Colony 2012</p>
      </footer>

    </div><!--/.fluid-container-->


    
  </body>
</html>
